:root {
  --light-gray: #f2f2f2;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100vh;
  /* margin: 0; */
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
p {
  margin: 0;
}

.container {
  height: 100vh;
  width: 327px;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 327px;
  height: 442px;
}

.container .column:nth-child(1) {
  background-color: #e28625;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.container .column:nth-child(2) {
  background-color: #006971;
  border-radius: 8px;
}
.container .column:nth-child(3) {
  background-color: #004100;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.contents-container {
  width: 231px;
  height: 346px;
}

/* .top-img {
  width: 64px;
  height: 40px;
} */

.header-text {
  font-family: "Big Shoulders Display", cursive;
  color: white;
  font-weight: bold;
  font-size: 40px;
  line-height: 100%;
  margin-top: 35px;
}

.detailed-text {
  font-family: "Lexend Deca", sans-serif;
  color: white;
  font-size: 15px;
  line-height: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  opacity: 0.75;
}

.next-button {
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 31.5px;
  padding-right: 31.5px;
  border-radius: 25px;
  border: 1px solid white;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  line-height: 25px;
}

.container .column:nth-child(1) .next-button {
  color: #e28625;
}

.container .column:nth-child(2) .next-button {
  color: #006971;
}

.container .column:nth-child(3) .next-button {
  color: #004100;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 920px;
  }

  .column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 307px;
    height: 500px;
  }

  .container .column:nth-child(1) {
    background-color: #e28625;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .container .column:nth-child(2) {
    background-color: #006971;
    border-radius: 8px;
  }
  .container .column:nth-child(3) {
    background-color: #004100;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 0px;
  }

  .contents-container {
    width: 231px;
    height: 404px;
  }

  /* .top-img {
    width: 64px;
    height: 40px;
  } */

  .header-text {
    font-family: "Big Shoulders Display", cursive;
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 47.88px;
    margin-top: 35px;
  }

  .detailed-text {
    font-family: "Lexend Deca", sans-serif;
    color: white;
    font-size: 15px;
    line-height: 25px;
    margin-top: 25px;
    margin-bottom: 83px;
    opacity: 0.75;
  }

  .next-button {
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 31.5px;
    padding-right: 31.5px;
    border-radius: 25px;
    border: 1px solid white;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    line-height: 25px;
  }

  .container .column:nth-child(1) .next-button {
    color: #e28625;
  }

  .container .column:nth-child(2) .next-button {
    color: #006971;
  }

  .container .column:nth-child(3) .next-button {
    color: #004100;
  }

  .container .column:nth-child(1) .next-button:hover {
    background-color: inherit;
    color: white;
    transition: 0.3s ease;
  }

  .container .column:nth-child(2) .next-button:hover {
    background-color: inherit;
    color: white;
    transition: 0.3s ease;
  }

  .container .column:nth-child(3) .next-button:hover {
    background-color: inherit;
    color: white;
    transition: 0.3s ease;
  }
}
